@use "/src/styles/variables" as v;
@import "/src/styles/mixins.scss";


* {
    font-family: v.$regular;
    max-width: 100%;
    margin: 0;
    width: fit-content; 
    /* box-sizing: border-box; */
}

body {
    width: 100vw;
    background-color: v.$black;
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1578662996442-48f60103fc96?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170);

#root {
    height: 100%;
    /* height: auto; */
}
.App {
    height: 100%;
    width: 100%;
}

header {
    margin: auto;
}

header nav {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

}
.dashboard-container{
    padding: 1vw;
    width: 98%;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 4fr 2fr;
    @include for-phone-only {
        display: flex;
        flex-direction: column;
        width: 98vw;
        align-items: center;
        margin-top: 30px;
    }
}
.server-container{
    grid-row: 1/3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  /*  padding: 1vw; */
    grid-gap: 1.5vw;
    justify-content: space-around;
  /*   align-content: center; */
  border-radius: 0.9vw;
    padding: 3vw;
    background-color: #2a2e31a6;
    @include for-phone-only {
        grid-template-columns: 1fr 1fr;
        order: -1;
    }
}

.server{
    width: 14.5vw;
    height: 13.5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 0.9vw;
    overflow: hidden; //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    // background-color: rgb(66, 66, 66);
    // background-color: v.$darkGray;
    backdrop-filter: blur(40px);
    box-shadow: 3px 3px 10px 3px rgb(0 0 0 / 31%);
    font-size: 0.6vw;
    @include for-phone-only {
        height: 45vw;
        width: 46.5vw;
        font-size: 0.5rem;

    }

.data-wrapper{
        color: white;
        width: inherit;
        height: inherit; 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr; 
        z-index: 999;
        grid-area: 1/1;
    .server-status{ 
        padding: 0.4vw;
        grid-column: 1/2;
        grid-row: 1/2;  
        /* align-self: center;
        justify-self: center;
        top: 15%;     
        position: relative; */
    }
    .server-created{
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: right;
      /*   margin: 0 auto 0 auto;  */
        padding: 0.4vw;
        position: relative;
    }
    .server-name{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0 auto; 
        align-self: center;
        /* padding: 0.4vw; */
      position: relative;
      bottom: 24%;
        
    }
    .server-hostname{
        align-self: end;
        justify-self: left;
        padding: 0.4vw;
      position: relative;
       
        grid-column: 1/2;
        grid-row: 1/2;
        
    }
    .server-type{
         /* margin: 0 0 0 auto;  */
         padding: 0.4vw;
       position: relative;
       /* top: 88%; */
        align-self: end;
        justify-self: right;
      /* right: -40%; */
        grid-column: 1/2;
        grid-row: 1/2;
        
    }
    .server-lastresponsetime{
        /* color: white; */
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto;
       position: relative;
       /* top: 42%; */
       top: 9%;
       z-index: 999;
       /* color: rgb(72,202,149, 0.279); */
        
    }
    .server-resolution{
        grid-column: 1/2;
        grid-row: 1/2;
        top: 0;
        left: 0; 
        display: none;  
        } 

        .bottom-box {
            background-image: url("/assets/wave.svg");
          /*   background-position: center; */
          background-size: cover;
          background-position-x: center;
            width: 100%;
            height: 5vw;
            align-self: flex-end;
            grid-column: 1/2;
        grid-row: 1/2;
        @include for-phone-only {
            height: 18vw;
        }
            /* background-color: antiquewhite; */
        }     
}



    .res-animation-wrapper{
      /*   margin: 1vw; */
        position: relative;
        z-index: 500;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 4.9vw;
        height: 4.9vw;
        top: 9%;
        margin: auto;
        @include for-phone-only {
            width: 12.9vw;
            height: 12.9vw;
        }
        .res-animation{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr; 
            align-items: center;
            align-content:center;
           justify-items: center;
          
            /* img{
                width: 100%;
                height: 10vw;
                } */
            .outer-cirkel{

                z-index: 10;
                animation-name: spinning;   
                animation: spinning 1s reverse infinite linear;
                background:conic-gradient(from 40deg, rgba(0, 0, 255, 0.279), rgb(106, 106, 106) 10%);
                align-self: center;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                grid-column: 1/2;
                grid-row: 1/2;
                opacity: 100%;
                border: solid 0.1vw rgb(70, 75, 73);
               /*  background-color: red; */
                img{}
            }
            .inner-cirkel{
               
                z-index: 1000;
                box-shadow: inset 0 0 10px #0000009c;
                border-radius: 50%;
                width: 90%;
                height: 90%;
                grid-column: 1/2;
                grid-row: 1/2;
                background-color: v.$darkGray;
                img{}
                align-self: center;
            }
        }
    }
}

@keyframes spinning {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg);}
  }


.weather-container{
    background-color: v.$darkGray;
    width: 100%;
    overflow: hidden;
    border-radius: 0.9vw;
    order: 3;
    .ww_current{
     margin: auto !important;
    }

    #ww_93705570411b1 {
    max-width: 31.5vw;
    height: 100%;
    @include for-phone-only {
        max-width: 100%;
    }
    .ww_line {
        margin: 0;
        overflow: visible;
    }
 
    }
    .ww-box {
        width: auto;
        .ww_name{
            margin: 10px auto !important;
        }
    }
}

.calendar-container{
    width: 100%;
    height: 100%;
    border-radius: .9vw;
    background-color: #2a2e31a6;

    .calendar-wrapper{
        width: 100%;

        .todaysDate{
            margin: auto;
        }
    }

    h1 {
        color: white;
        font-size: 2rem;
        margin-top: 10px;
    }

    h2 {
        color: white;
        font-size: 1.8rem;
        justify-self: start;
        margin: 10px auto;
    }

    h3 {
        // color: #FB695B;
        font-size: 1.2rem;
        justify-self: end;
        margin-left: 20px;
    }

    

    

    .calendar-booking{
        z-index: 999;
        display: grid;
        gap: 20px;
        align-items: center;
        margin: 20px auto 40px auto;

        .bigRoom,
        .smallRoom,
        .kitchen {
            align-items: center;
            width: 100%;
    
            div:nth-child(1) {
                color: v.$blue;
            }
            div:nth-child(2) {
                color: v.$red;
            }
            div:nth-child(3) {
                color: v.$green;
            }
            
            .booking{
                display: flex;
            }
        }
        .kitchen div:first-child {
            color: white;
        }

        .schedule {
            display: flex;
            flex-direction: column;
        }
    }
}



